.link {
  color: red;
  text-decoration: none;
}
.form-login {
  background: white;
  justify-content: center;
  max-width: 600px;
}

.form-signup {
  background: white;
  justify-content: center;
  max-width: 600px;
}
